body {
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
}

.main aside {
    background-color: aliceblue;
    padding: 10px;
}

.main aside h3 {
    margin-bottom: 0;
}

.main aside p {
    margin: 0;
}

.consultorios button {
    display: inline;
    margin: 5px;
    color: black;
    border: none;
    border-radius: 5px;
}

.consultorios button:hover {
    background-color: gray;
}

.consultorios {
    width: 150px;
    margin: 0;
}

.consultorios h3 {
    margin: 0px;
}

#myIframe {
    background-color: white;
    border: none;
    position: fixed;
    top: 262px;
    left: 425px;
    width: 501px;
    height: 100%;

}
.content {
    background-color: aliceblue;
    width: 100%;
    text-align: center;

}

@media (max-width: 600px) {
    .main {
        width: 100%;
    }

    .main aside {
        width: 100px;
        height: 100%;
        padding: 0 0 0 10px;
    }

    .main aside h3 {
        font-size: medium;
    }

    .main aside p {
        font-size: small;
    }

    .main aside a {
        font-size: small;
        text-wrap: auto;
    }

    .consultorios {
        width: 80px;
        display: inline;
    }

    #myIframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


}